---
import Contact from "../components/Contact.astro";
import FAQ from "../components/FAQ.astro";
import Features from "../components/Features.astro";
import LandingHero from "../components/LandingHero.astro";
import Prices from "../components/Prices.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <LandingHero />
    <Features />
    <Prices />
    <FAQ />
    <Contact />
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    padding: 128px;
    flex-direction: column;
    align-items: center;
    gap: 196px;
  }
</style>
<style is:global lang="scss">
  a {
    text-decoration: none;
  }
  .primary-button {
    &:hover {
      background: rgb(217 119 6);
    }
    transition: background 0.2s ease-in-out;
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #f59e0b;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .secondary-button {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #6366f1;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
</style>
