<div>
  <h2>More Questions?</h2>
  <div class="contact-wrapper">
    <a class="contact-button" href="mailto:questions@storygenie.io">
      Contact us</a
    >
  </div>
</div>
<style lang="scss">
  .contact-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;

    .contact-button {
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      border-radius: 4px;
      color: #000;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0;
      padding: 6px 12px;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
</style>
