<div class="header">
  <a href="/" }>
    <h2 class="logo-text">Storygenie</h2>
  </a>
  <!-- Will have Features, Company, Pricing -->
  <nav>
    <ul class="header__links">
      <li>
        <a href="/features">Features</a>
      </li>
      <li>
        <a href="/company">Company</a>
      </li>
      <li>
        <a href="/pricing">Pricing</a>
      </li>
      <li class="secondary-button-inverted">
        <a href="/login">Login</a>
      </li>
      <li class="primary-button">
        <a href="/signup">Sign Up</a>
      </li>
    </ul>
  </nav>
</div>
<style lang="scss">
  .header {
    display: flex;
    justify-content: space-between;
    &__links {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-left: 1rem;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }
  .logo-text {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
</style>
