<div class="header">
  <a href="/">
    <h2 class="logo-text">Storygenie</h2>
  </a>
  <nav>
    <ul class="header__links">
      <div class="header__links-subsites">
        <li>
          <a href="/features">Features</a>
        </li>
        <li>
          <a href="/company">Company</a>
        </li>
        <li>
          <a href="/pricing">Pricing</a>
        </li>
      </div>
      <div class="header__links-auth">
        <a class="secondary-button--inverted" href="/login">Login</a>
        <a class="primary-button" href="/signup">Sign Up</a>
      </div>
    </ul>
  </nav>
</div>
<style lang="scss">
  .header {
    display: flex;
    justify-content: space-between;
    &__links {
      display: flex;
      gap: 2rem;
      &-subsites,
      &-auth {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1rem;
        li {
          margin-left: 1rem;
        }
      }
    }
  }
  .logo-text {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
</style>
