---
import PriceCard from "./PriceCard.astro";
---

<div>
  <h2>Our Prices</h2>
  <p class="subtitle">
    Choose an affordable plan that's packed with features you will love.
  </p>
  <div class="price-cards">
    <PriceCard
      tierName="Basic"
      price="5"
      description="The basic functionalities to get going with Storygenie."
      features={[
        "Create stories",
        "Share stories",
        "Export stories",
        "Basic analytics",
      ]}
    />
    <PriceCard
      tierName="Pro"
      price="29"
      description="All advanced features of Storygenie."
      features={[
        "Everything in Basic",
        "Collaboration features",
        "Export to your favorite tools",
        "Analyics",
        "Priority support",
      ]}
    />
  </div>
</div>
<style lang="scss">
  h2 {
    margin-bottom: 0;
  }
  .subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .price-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
