---
const { tierName, price, description, features } = Astro.props;
---

<div class="price-card">
  <div class="tier-and-price">
    <div class="tier">{tierName}</div>
    <div class="price-and-month">
      <span class="price">{price ? `$${price}` : "$0"}</span>
      <span class="month">/month</span>
    </div>
    <div class="description">
      <p>{description}</p>
    </div>
  </div>
  <ul class="features">
    {
      features?.map((feature: string) => (
        <li>
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_718_1485"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="24"
            >
              <rect x="0.25" width="24" height="24" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_718_1485)">
              <path
                d="M9.79961 18.0001L4.09961 12.3001L5.52461 10.8751L9.79961 15.1501L18.9746 5.9751L20.3996 7.4001L9.79961 18.0001Z"
                fill="#F59E0B"
              />
            </g>
          </svg>
          {feature}
        </li>
      ))
    }
  </ul>
  <div class="cta-button">
    <div
      class=`${tierName === "Pro" ? "primary-button" :"primary-button--outlined"}`
    >
      <a href="#">Get Started</a>
    </div>
  </div>
</div>

<style lang="scss">
  .price-card {
    color: #222;
    padding: 2.5rem 2rem;
    border-radius: 8px;
    background: #f5f5f5;

    display: grid;
    grid-template-rows: 140px auto;
    gap: 1rem;
    align-self: stretch;

    .tier-and-price {
      .tier {
        color: #2e2041;
        font-size: 20px;
        font-weight: 600;
      }
      .price-and-month {
        color: #000;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: baseline;
        .price {
          font-size: 48px;
          font-weight: 800;
        }
        .month {
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
    .description {
      color: #787f8c;
    }

    ul.features {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        gap: 1rem;
        align-items: center;
        svg {
          width: 25px;
          height: 24px;
          path {
            fill: #f59e0b;
          }
        }
      }
    }
    .cta-button {
      display: flex;
      height: min-content;
      width: 100%;
      margin-top: auto;
      .primary-button,
      .primary-button--outlined {
        width: 100%;
      }
    }
  }
</style>
